@import "tailwindcss";

@theme {
  --color-primary-accent: oklch(0.74 0.1395 146.97);
  --color-secondary-accent: oklch(0.6991 0.1702 136.27);
  --color-tertiary-accent: oklch(0.7088 0.1191 180.8);

  --color-altwhite: oklch(0.99 0 0);
  --color-altgray: oklch(0.96 0.0029 264.54);
  --color-altblack: oklch(0.35 0.0133 248.21);

  --font-poppins: "Poppins", sans-serif;
  --font-playfair: "Playfair Display", serif;
  --font-ubuntu: "Ubuntu", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--color-altwhite);
}
